[req]
default_bits       = 2048
prompt             = no
default_md         = sha256
req_extensions     = req_ext
distinguished_name = dn

[dn]
CN = 56.125.110.27
O = Domina Dev

[req_ext]
subjectAltName = @alt_names

[alt_names]
IP.1 = 56.125.110.27